# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Build
*.apk
*.aab
*.apks
*.ipa

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/

# Firebase
google-services.json
